<head>
  {% if page.title == nil %}
  <title>{{ site.name }}</title>
  {% else %}
  <title>{{ page.title }} - {{ site.name }}</title>
  {% endif %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="{{ site.author.name }}" />
  <meta name="copyright" content="{{ site.author.name }}" />
  <meta name="keywords" content="{{ site.meta.keywords }}" />
  <meta name="description" content="{% if page.metadescription %}{{ page.metadescription }}{% else %}{{ site.meta.description }}{% endif %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="alternate" type="application/atom+xml" title="Blog" href="/atom.xml" /> 

  <link rel="stylesheet" href="/public/css/app.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" >
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% include facebook-open-graph.html %}
  {% include twitter-card.html %}
</head>