<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="blog-masthead">
          <div class="container">
            <nav class="blog-nav">
              <a class="blog-nav-item active" href="#">Home</a>
              <a class="blog-nav-item" href="#">Links</a>
              <a class="blog-nav-item" href="#">About</a>
            </nav>
          </div>
        </div>

        <div class="container">

          <div class="blog-header">
            <h1 class="blog-title">{{ site.name }}</h1>
            <p class="lead blog-description">A blog mostly about code but also beer, target shooting and other random ramblings.</p>
          </div><!-- /.blog-header -->
          <div class="row">
            <div class="col-sm-8 blog-main">
              {{ content }}
            </div><!-- /.blog-main -->

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
              <div class="sidebar-module sidebar-module-inset">
                <h4>About me</h4>
                <p>I am a software engineer / developer living in Sweden and working at <a href="http://www.tradera.com">eBay Sweden/Tradera<a>.</p>
              </div>
              <div class="sidebar-module">
                <h4>Find me</h4>
                <ol class="list-unstyled">
                  <li><a href="https://twitter.com/jonasfr">Twitter</a></li>
                  <li><a href="https://github.com/jonasf">GitHub</a></li>
                  <li><a href="https://www.linkedin.com/in/jonasfredriksson">LinkedIn</a></li>
                </ol>
              </div>
              <div class="sidebar-module">
                <h4>Categories</h4>
                <ol class="list-unstyled">
                  {% for category in site.categories %}
                    <li><a name="{{ category | first }}">{{ category | first }}</a>
                  {% endfor %}
                </ol>
              </div>
            </div><!-- /.blog-sidebar -->
            
          </div><!-- /.row -->
        </div><!-- /.container -->

        <div class="blog-footer">
          &copy; 2014 Jonas Fredriksson
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </body>
</html>
